@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;700&display=swap');
*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Onest', sans-serif;
}
body{
      position: relative;
      max-height: 100vh;
      overflow: hidden;
}
.screen{
      position: absolute;
      min-height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #446391;
      top: 100vh;
      transition: top 1s;
}
.screen__title{
      font-size: 40px;
      color: #fff;
      margin-bottom: 20px;
}
.screen__btn{
      cursor: pointer;
      padding: 10px;
      margin: 20px;
      font-size: 20px;
      color: #fff;
      background: transparent;
      outline: none;
      border: 1px solid #ffffff;
      box-shadow: 1px 1px 2px #6188c2;
      transition: .5s;
}
.screen__btn:hover{
      color: #5291ee;
      border: 1px solid #5291ee;
}
.screen.active{
      top: 0;
}
.screen__time{
      color: #fff;
}
.scren__field{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      width: 500px;
      height: 500px;
      background: #6188c2;
      border-radius: 10px;
      box-shadow: 1px 1px 2px #fff, inset 1px 1px 2px #fff;
}
.mark{
      cursor: pointer;
      position: absolute;
      background: rgb(52, 52, 58);
      border-radius: 100%;
}
.back__btn{
      cursor: pointer;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 30%;
      left: 30%;
      padding: 5px;
      border-radius: 100%;
      border: 1px solid #fff;
      transition: .5s;
}
.back__btn path{
      fill: #ffffff;
      transition: .5s;
}
.back__btn:hover{
      border: 1px solid #5291ee;
}
.back__btn:hover path{
      fill: #5291ee;
}
.field__finish{
      color: #ffffff;
      text-align: center;
}